# **Programacion funcional**

Vamos a aprender a usar las **funciones lambda, map, filter y reduce**.

Veremos los siguientes métodos:

    1) Funciones lambda.
    2) Metodos de la programacion funcional:      
      - map
      - filter
      - reduce*

### **Programacion funcional**

Los programas escritos en un **lenguaje funcional** están constituidos unicamente por definiciones de **funciones**, entendiendo estas no como subprogramas clasicos de un lenguaje imperativo, sino como funciones puramente matematicas.

<center>
<img src="https://user-images.githubusercontent.com/16768318/73006022-d523bd00-3e01-11ea-8c1a-8ce4f5529158.png" width="35%">
</center>

### **Funciones lambda**

Sirve para crear funciones anonimas. Ejemplo:

In [1]:
def doble(x):
  return x**2

In [2]:
doble(25)

625

In [3]:
dobleAnonima = lambda x: x**2

In [4]:
dobleAnonima(25)

625

In [5]:
(lambda x: x**2)(25)

625

### Ejercicio: 
Escribe una función anónima que de la vuelta a un String, guardala en una variable que se llame reverse_f.


> Por ejemplo: Dado el string "Hola" debe devolver "aloH"

In [6]:
#Inserta Aquí tu código

reverse_f = lambda ['Hola'] : reverse('Hola')

SyntaxError: ignored

In [ ]:
reverse_f('hola')

### **Map**

Aplica una condicion (definida por una funcion) sobretodos los elementos de una estructura de datos.
<img src="https://leblancfg.com/img/map_function.png" width="50%">

#### **Ejemplo 1**

Convertir los valores de temperatura media de Celsius a Kelvin

In [8]:
temp_C = [28, 32, 15, 26, 24, 30]

In [9]:
# Programación imperativa
temp_K = []
for temp in temp_C:
  new_temp = temp + 273.15
  temp_K.append(new_temp) 
print(temp_K)

[301.15, 305.15, 288.15, 299.15, 297.15, 303.15]

In [10]:
# Programación funcional
def celsiusAKelvin(temperatura):
  return temperatura + 273.15

temp_K = list(map(celsiusAKelvin, temp_C))
print(temp_K)

[301.15, 305.15, 288.15, 299.15, 297.15, 303.15]

In [11]:
# Programación funcional avanzada usando funciones anónimas
temp_K = list(map(lambda x : x+273.15, temp_C))
print(temp_K)

[301.15, 305.15, 288.15, 299.15, 297.15, 303.15]

#### **Ejercicio 2**
Convertir estos nombres a mayúsculas

In [12]:
mascotas_nombre_min = ['alfred', 'tabitha', 'william', 'arla']

Primero resuelve tu problema usando un bucle `for`


*   INPUT/ENTRADA: Tienes que convertir en mayúscula todos los elementos de la lista `mascotas_nombre_min`
*   OUTPUT/SALIDA: Los nombres en mayúsculas deberán estar en la lista `mascotas_nombre_may`
* PISTA: Puedes añadir elemenetos a una lista con `append()`

In [13]:
# Programación imperativa
#Inserta Aquí tu código

#NO se puede hacer la función directamente sobre lista
    #Usa for in para crear una nueva, en la que se aplica .upper
    #Añadir esa lista a mascotas_nombre_may utilizando append

mascotas_nombre_may = mascotas_nombre_min.upper()




print(mascotas_nombre_may)

AttributeError: ignored

Ahora haz lo mismo pero sin un bucle for, ahora usando map()

In [ ]:
# Programación funcional
#Inserta Aquí tu código
mascotas_nombre_may = 
print(mascotas_nombre_may)

### **Filter**

Mientras que **map()** pasa cada elemento del iterable a traves de una funcion y devuelve el resultado de todos los elementos que han pasado a traves de la funcion, **filter()**, en primer lugar, requiere que **la funcion devuelva valores booleanos (verdadero o falso)** y luego pasa cada elemento del iterable a traves de la funcion, **"filtrando" los que son falsos**. 

<img src="https://leblancfg.com/img/filter.png" width="50%">

In [14]:
# Filter
numeros = [28, 32, 15, 26, 24, 30]

In [15]:
# Programación imperativa
num_may_30 = []
for num in numeros:
  if num >= 30:
    num_may_30.append(num) 
    
print(num_may_30)

[32, 30]

In [16]:
# Programación funcional
def numMayoresA30(numero):
  if numero >= 30:
    return True
  else:
    return False


num_may_30 = list(filter(numMayoresA30, numeros))
print(num_may_30)

[32, 30]

In [17]:
# Programación funcional avanzada usando funciones anónimas
num_may_30 = list(filter(lambda temp:temp >= 30, numeros))
print(num_may_30)

[32, 30]

#### **Ejercicio 3**
Escribir una función que reciba una frase (string) y devuelva una lista con las longitudes de cada palabra.

In [18]:
frase = 'Welcome to Python'

In [19]:
#Inserta Aquí tu código
#hacer list(frase) nos devuelve caracteres. ¿Cómo conseguir palabras?
  #Alguna función que detecte los espacios. ¿Cuál? SPLIT, vamos a ver qué tal
lista_lens = [] #3º
lista_palabras=frase.split(' ') #1º
lista_palabras #2º
for palabra in lista_palabras:
  tamano=len(palabra)

  #Corrección incompleta, pero va por aquí la cosa

Comprueba tu respuesta, debe dar: [7, 2, 6]

In [20]:
print(length_words('Welcome to Python'))

NameError: ignored

#### **Ejercicio 4**
Escribir una función que reciba una lista de números pares e impares y devuelve como resultado una lista solo con los números pares usando filter. Usa también la función dada check_even().

In [ ]:
def check_even(num):
    return num % 2 == 0 

    #usa esta función, no para que te lo resuelva directamente, pero necesitas usarla

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [ ]:
#Inserta Aquí tu código

def n (nums):
return for
list(filter((n%2==0),nums))

In [ ]:
ciudades =['Madrid','BArcelona']
for x in ciudades:
  print(ciudades)